@{
    ViewBag.Title = "CartShow";
    Layout = "~/Views/Shared/_LayoutPageCustomer.cshtml";
    int totalAmount = 0;
}
<h2>CartShow</h2>
@{
    if (TempData["qtyMsg"] != null)
    {
        <center><label class="alert bg-success" role="alert" id="myLabel">@TempData["qtyMsg"]</label></center>
        <script>
            setTimeout(function () {
                $('#myLabel').fadeOut('slow');
            }, 1500);
        </script>
    }


}
@if (Model != null)
{

    <table class="table">
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Amount
            </th>
            <th>
                Total Amount
            </th>
            <th>
                Date
            </th>

            <th>
                Status
            </th>
            <th>

            </th>
        </tr>
        <tr>
            <td>
                @{

                    foreach (var i in Model.ProductOrders)
                    {

                        @i.product.Name <br />

                    }
                }
            </td>
            <td>
                @{

                    foreach (var i in Model.ProductOrders)
                    {


                        @i.product.Price <br />

                    }
                }
            </td>

            @{
                <td>
                    @foreach (var i in Model.ProductOrders)
                    {
                        @Html.ActionLink("-  ", "DecreaseQty", new { id = i.id }, new { @style = "text-decoration:none" })
                        @i.qty
                        @Html.ActionLink(" +", "IncreaseQty", new { id = i.id }, new { @style = "text-decoration:none" })
                        <br />
                    }
                </td>
            }


            <td>
                @{

                    foreach (var i in Model.ProductOrders)
                    {
                        int Amount = i.qty * i.product.Price;

                        @Amount <br />
                    }
                }
            </td>
            <td>
                @Model.Amount
            </td>
            <td>
                @{
                    @Model.Date.ToString("dd/MM/yyyy");
                }
            </td>
            <td>
                @Model.Status
            </td>
            <td>
                @Html.ActionLink("Place Order", "PLaceOrder", new { id = Model.id }, new { @class = "btn btn-default" }) |
                @Html.ActionLink("Empty Cart", "EmptyCart", new { id = Model.id }, new { @class = "btn btn-default" })

            </td>
        </tr>


    </table>
}
else
{
   <center><h4>Cart is empty</h4></center> 
}


